/*#33324F;
#928C98;
#6F8EDD;
*/



body {
    background-color: rgba(13, 22, 49, 0.98) !important;
 }

/* NAVBAR */

/*.dark-theme {
    background-color: #2a2a3f;
}

.light-theme {
    background-color: #3d3c5e;
}*/

nav#navbar {
    background: /*linear-gradient(to bottom, rgba(58, 60, 56, 0.71) 0%, rgba(8, 8, 8, 0.08) 100%);*/
    linear-gradient(to bottom, rgba(109, 107, 107, 0.71) 0%, rgba(76, 75, 75, 0.08) 100%);
}

#navbar.navbar-fixed-top {
    border-width: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
    font-family: "Kranky";
    font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: rgba(220, 195, 118, 0.35) !important;
}

span.nav_name {
    font-family: "Kranky", cursive;
    font-size: 33px;
    text-align: left;
    letter-spacing: 1.2px;
    color: #000000;
}


/* HOME PAGE */

main {
    min-height: 100vh;
    padding: 100px 70px;
}


/*Fix the height of the background image*/
header {
    background: url(../images/app2.jpg);
    background-size: cover;
}

#home {
    text-align: center;
    padding-top: 20vh;
    min-height: 30vh;
/*    background-color: #2a2a3f;*/
}

.primary {
    position: relative;
}

/*#home img {
    margin-top: 9vh;
    margin-bottom: 15px;
    width: 98%;
    height: 600px;
}*/

#home h2 {
    padding-bottom: 4vh;
    margin-bottom: 0;
    font-family: "Cutive Mono", monospace;
    color: rgba(220, 195, 118, 0.35);
/*    color: #323338;*/
    font-size: 2.5em;
    position: relative;
    top: 45%;
    width: 100%
}

/*For multiple titles uncomment the following*/

/*header h2 .title:not(:first-of-type):before {
    content: "•";
    padding-right: 0.5em;
}*/

.myname {
    position: relative;
    margin: 0;
    top: 30%;
    width: 100%;
    font-family: "Cutive Mono", monospace;
    font-size: 5em;
    /*color: #b1b3b9;*/
/*    color: #323338;*/
    color: rgba(220, 195, 118, 0.35);
}

/* DESCRIPTION */


.box {
    height: auto;
    top: 10px;
    margin: 0 auto;
    padding: 10px 15px 30px 15px;
    position: relative;
/*    border-radius: 40px;*/
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
}


#description{
    min-height: 40vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
/*   background-color: #2a2a3f; */
}
.aboutme-title {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: rgba(220, 195, 118, 0.35);
 /*  color: #2b2f2e;*/
}


.aboutme {
    text-align: center;
    line-height: 1.7;
    padding-top: 5px;
}

.me-list {
    list-style-type: none;
    font-size: 21px;
}

.me-list a {
    color: rgba(220, 195, 118, 0.35);
}


.aboutme .me-list a:hover {
    color: #FDFEFE;
}

.me-list li:not(:first-of-type):before {
    content: "-";
    padding-right: 0.5em;
}

.me-list li {
    display: inline-block;
    color: red;
}

/* Skills */

#skills {
    font-family: "Quicksand", sans-serif;
    color: #252d2b;
    font-size: 20px;
    min-height: 40vh;
    padding: 10px 10px 30px 10px;
    word-spacing: 4px;
/*    background-color: #2a2a3f;*/
}

.skillTitle {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: rgba(220, 195, 118, 0.35);
}

.skillSet {
    text-align: center;
    list-style-type: none;
    font-size: 21px;
    color: rgba(220, 195, 118, 0.35);
}

.skillSet li {
    display: inline-block;
}

.skillSet li:not(:first-of-type):before {
    content: "•";
    padding-right: 0.5em;
}

/* PORTFOLIO

/*#portfolio {
    min-height: 50vh;
    padding: 30px 0 30px 0;
}*/

/*.container.portfolio-fluid {
    padding: 15px;
}
*/

.projectHeader {
    font-family: "Poiret One", cursive;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    font-weight: 600;
    color: rgba(220, 195, 118, 0.35);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.app_name {
    text-align: center;
    font-family: "Cutive Mono", monospace;
    font-size: 28px;
}

.app_name a {
    color: rgba(220, 195, 118, 0.35);
}
.app_name a:hover {
    color: #FDFEFE;
}

#project-item {
    margin: 0;
    padding: 0;
    border: 0;
/*    position: relative;*/
}


.app1.img-responsive,
.app2.img-responsive,
.app3.img-responsive {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.43), 0 6px 20px 0 rgba(0, 0, 0, 0.47);
    filter: blur(0.4px);
}

a:hover,
a:focus {
    color: #aab1b3;
    text-decoration: none !important;
}
#resume {
    text-align: center;
    margin: 10px;
    padding: 10px 0 10px 0;
}


.btn-resume {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: monospace;
}


.btn-resume:hover {
    background-color: #737171;
}

/*Background*/

.margin-b-40{
    margin-bottom: 40px !important;
}


/*// Experimenting*/
.projectRow {
    border: 1px solid;
}

.see_center {
    text-align: center;
}
.more_projects {
    display: none;
}

#education {
    color: #504830;
    border-radius: 10px;
}


/* FOOTER */

.msg-me {
    background: #222;
    padding: 3px;
    border-top: 5px solid ;
    border-left: 10px solid black;
    border-bottom: 5px solid ;
    border-right: 10px solid black;

}

.msg-me-title {
    font-size: 20px;
    font-family: "Cutive Mono", monospace;
    text-align: center;
    margin-bottom: auto;
    position: relative;
    color: rgba(220, 195, 118, 0.35);
}

.msg-me-title a {
    color: #aab1b3;
}

.msg-me-title a:hover {
    color: #f4fdff;
}

#contact {
    min-height: 40vh;
}

section.container.footy {
    padding: 2em 2.5em 5em 2.5em;
}

img.WhatsAppDP2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-title {
    margin-top: 0;
    text-align: center;
    font-family: "Kranky", cursive;
    font-size: 3.85rem;
    color: rgba(220, 195, 118, 0.35);
}

.link-social li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.5rem;
    display: inline-block;
    margin: 0.5em;
}

.link-social li a {
    color: rgba(220, 195, 118, 0.35);
}

.link-social li a:hover {
    color: #f4fdff;
}

.link-social {
    display: -webkit-box;
    padding: 0px;
    text-align: -webkit-center;
}

i.fa {
    text-decoration: none;
    font-size: 7vw;
}

span i.fa {
    padding-left: 5px;
    padding-right: 5px;
}

i.fa.fa-envelope {
    display: inline-block;
    font-size: 100%;
}

.dnd {
    color: #907A06;
    text-align: center;
    padding-right: 10px;
    font-size: 14px;
}

/*jQuery classes*/

.darker-theme {
    background-color: #2a2a3f;
}

/* Media queries */

@media screen and (min-width: 768px) {
    #navmainbar {
        float: right;
    }
/*   , .imageWidth {
        width: 25%;
    },
    .list-icons {
        width: 75%;
    }*/
}

@media screen and (max-width: 767px) {
    a.navbar-brand {
        padding: 15px 5px 15px 15px;
    }
    span.sub_title {
        font-size: 20px;
/*        font-weight: 650;*/
        display: block;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 399px) {
    .app1, .app2, .app3, .app4, .app5, .app6 {
        border-radius: 35px;
    }
}


